#!/usr/bin/env bash

#
# Jenv switch java version
# - add   : jenv add /xxx/jdk/Contents/Home/
# - remove: jenv remove oracle64-1.8.0.101
# - global: jenv global 11.0
# - local : jenv local 11.0
# - unset : jenv local --unset
#
alias alternatives="jenv"
alias javas="jenv versions"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# adb
alias adb-input="adb shell input text"
alias adb-sreen="adb shell screencap -p"
alias adb-record="adb shell screenrecord"

### xcodebuild ###

# show xcode and sdk version info. support with `-json`
alias xcb-version="xcodebuild -version -sdk"
# show sdk version
alias xcb-sdk="xcodebuild -showsdks"
# show project info. support with `-json`
alias xcb-proj-info="xcodebuild -list -project"
# show build settings info. support `-json`
alias xcb-build-settings="xcodebuild -showBuildSettings -destination 'generic/platform=iOS' -project"
# clean app project
alias xcb-clean="xcodebuild -destination 'generic/platform=iOS' clean -project"