#!/usr/bin/env bash

local alias_os_type=$(uname)

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

#
# Jenv switch java version
# - add   : jenv add /xxx/jdk/Contents/Home/
# - remove: jenv remove oracle64-1.8.0.101
# - global: jenv global 11.0
# - local : jenv local 11.0
# - unset : jenv local --unset
#
alias alternatives="jenv"
alias javas="jenv versions"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

### adb ###
alias adb-input="adb shell input text"
alias adb-record="adb shell screenrecord"
alias adb-back="adb shell input keyevent BACK"


### gradle ###
alias .gw-sign="./gradlew signingReport"
alias .gw-tasks="./gradlew tasks -q"
alias .gw-debug="./gradlew clean -Dorg.gradle.debug=true --no-daemon"
alias .gw-force="./gradlew clean --refresh-dependencies"

### keytool ###
alias keytool-key="keytool -list -v -keystore"
alias keytool-apk="keytool -printcert -jarfile"
alias keytool-rsa="keytool -printcert -file"


### xcodebuild ###

# show xcode and sdk version info. support with `-json`
alias xcb-version="xcodebuild -version -sdk"
# show sdk version
alias xcb-sdk="xcodebuild -showsdks"
# show project info. support with `-json`
alias xcb-proj-info="xcodebuild -list -project"
# show build settings info. support `-json`
alias xcb-build-settings="xcodebuild -showBuildSettings -destination 'generic/platform=iOS' -project"
# clean app project
alias xcb-clean="xcodebuild -destination 'generic/platform=iOS' clean -project"


### net utils ###
if [[ "$alias_os_type" == "Darwin" ]]; then
  alias netst="lsof -i -n -P | grep LISTEN"
elif [[ "$alias_os_type" == "Linux" ]]; then
  alias netst="netstat -ltpn"
fi

### Linux common command
# macOS support md5sum
command -v md5sum > /dev/null || alias md5sum="md5"


# pwd and popy
alias pwdc="pwd | pbcopy"


### wget ###
alias wget-dir="wget -r -np -nd -R index.html"


### pkg ###
alias pkgs="pkgutil --pkgs"
alias pkg-info="pkgutil --pkg-info"
alias pkg-files="pkgutil --files"
# need rm location by yourself
alias pkg-rm="sudo pkgutil --forget"


# figlet
alias wordart="figlet"
