#!/usr/bin/env bash

### adb operate ###

# adb clear input text
function adb-clear() {
  adb shell input keyevent KEYCODE_MOVE_END
  adb shell input keyevent --longpress $(printf 'KEYCODE_DEL %.0s' {1..250})
}

#
# adb screen
#
# Arguments:
#  $1: png path: ~/output/xxx.png
#
function adb-screen() {
  local out_dir=$(dirname $1)
  local png_name=$(basename $1)
  local tmp_path="/data/local/tmp/$png_name"

  adb shell screencap -p $tmp_path
  adb pull $tmp_path $out_dir
  adb shell rm $tmp_path
}

### git operate ###

#
# git set global alias
#
# Arguments:
#  $1: alias
#  $2: command
#
function git-set-alias() {
  local alias=$1
  local cmd=$2
  git config --global alias.${alias} "${cmd}"
  git config --get-regexp alias.${alias}
}

#
# git clone sparse-checkout specified dir
#
# Arguments:
#  $1: url
#  $2: branch
#  ..: others file or dir
#
function git-clone-sparse() {
  local url=$1
  local branch=$2
  shift 2
  local params=$(echo "$@" | tr ' ' '\n')
  local name=$(basename -s .git $url)

  mkdir -p ${name}
  cd ${name} || return 1

  # init
  git init
  git remote add -f origin $url

  # enable sparsecheckout
  git config --local core.sparsecheckout true
  echo $params >> .git/info/sparse-checkout

  # checkout
  git checkout $branch

  cd -
}