[core]
	editor = vim
[alias]
	st = status
	br = branch
	ck = checkout
	last = log --stat --date=iso8601 -1 HEAD
	modify = remote set-url origin
	sname = config --local user.name
	smail = config --local user.email
	al = config --get-regexp alias
	pullx = pull origin
	cmm = commit -m
	cloneb = clone --single-branch -b
	rest = restore --staged
	diffc = diff --cached
	cpick = cherry-pick --no-commit
	pk = cherry-pick --no-commit
[pull]
	rebase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
