# ignore all
*

# include README.md
!README.md

# include my dot file
!.aliases
!.bash_profile
!.bashrc
!.functions

# include if you need
!.bash_local

!.gitconfig
!.gitignore

!.tmux.conf

!.vimrc
!.zshrc

# include install.sh
!install.sh

!.aliases_adb
!.aliases_tmux